@model SteamKendaraan.Models.MasterOrder

<div>
    <h1>Struk Pembayaran</h1>
    <p><strong>ID Order:</strong> @Model.ID</p>
    <p><strong>Nama Pelanggan:</strong> @Model.ID_Pelanggan</p>
    <p><strong>Layanan:</strong> @Model.ID_Layanan</p>
    <p><strong>Nama Pencuci:</strong> @Model.ID_Layanan</p>
    <p><strong>Total Bayar:</strong> @Model.Total_Amount</p>
    <p><strong>Metode Pembayaran:</strong> @Model.Payment_Method</p>
    <p><strong>Kembalian:</strong> @Model.Kembalian</p>
    <p><strong>Tanggal:</strong> @Model.CreatedOn</p>
</div>
