@model SteamKendaraan.Models.MasterLayanan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MasterLayanan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nama_Layanan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nama_Layanan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Harga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Harga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>
    </dl>
</div>
<div>
    <a href="@Url.Action("Edit", "Layanan", new { id = Model.ID })" class="btn btn-sm btn-info">
        <i class="fa-solid fa-pen-to-square"></i>
    </a>
    <a asp-action="Index">Back to List</a>
    <a href="@Url.Action("Index", "Layanan")" class="btn btn-md btn-primary rounded-0"><i class="fa-solid fa-backward"></i> Back to list</a>
</div>
