@model IEnumerable<SteamKendaraan.Models.MasterLayanan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nama_Layanan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Harga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nama_Layanan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Harga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedOn)
            </td>
            <td>
                    <a href="@Url.Action("Details", "Layanan", new { id = item.ID })" class="btn btn-sm btn-info">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="@Url.Action("Edit", "Layanan", new { id = item.ID })" class="btn btn-sm btn-primary">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a href="@Url.Action("Delete", "Layanan", new { id = item.ID })" class="btn btn-sm btn-danger">
                        <i class="fa-solid fa-trash"></i>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
